@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

/*font-family: 'Mulish', sans-serif;*/

body{
    background-image: url(images/M4-desafio1-fondo.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #04146c;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24.48pt;
    width: 600px;
}

div{
    background-image: url(images/M4-desafio1-fondo-form.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50%;
    min-width: 950px; /*para que no me modifique el tamaño de la imágen del background segun el tamaño de la ventana, priorizo el scroll*/
    text-align: center;
}

form{
    background-color: white;
    width: 600px;
    height: 400px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

input{
    color: #414166;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 17pt;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
}



button{
    color: white;
    background-color: #15163d;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 17pt;
    width: 509px;
    height: 50px;
}